---
import logo from "../assets/Logo_GreenHills_Horizontal.png";
---

<section class="h-[90vh] flex flex-col justify-center items-center text-center bg-linier-to-b from-indigo-100 to-white">
  <img src={logo.src} alt="GreenHills Logo" class="h-24 mb-6" />
  <h1 class="text-4xl font-bold text-emerald-700 mb-4">GreenHills Residence & Villa</h1>
  <p class="max-w-2xl text-gray-600 leading-relaxed">
    Hunian eksklusif di kawasan pegunungan — nyaman untuk tinggal, menguntungkan untuk investasi.
  </p>
  <a href="#unit" class="mt-6 px-6 py-3 bg-emerald-600 text-white rounded-lg hover:bg-emerald-700 transition">
    Lihat Pilihan Unit
  </a>
</section>
