---
import "leaflet/dist/leaflet.css";

interface Props {
  height?: number;
  zoom?: number;
}

const { height = 400, zoom = 14 } = Astro.props;
const mapId = "map-" + Math.random().toString(36).slice(2, 8);
---

<div id={mapId} class="w-full rounded-lg border shadow-md" style={`height:${height}px`}></div>

<script is:inline>
  import { initMap } from "../scripts/initMap";
  window.addEventListener("load", () => initMap("{mapId}", {zoom}));
</script>

